doctype html
html.m-0.h-full.overflow-hidden.smd_overflow-auto.smd_m-auto.smd_h-max(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/output.css')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
  body.m-0.h-full.overflow-hidden.smd_overflow-auto.smd_m-auto.smd_h-max
    header.fixed.w-screen
      .bg-black.mmd_bg-white.py-3.px-3.smd_px-24.mmd_border-b 
        a.text-white.font-lato.font-black.text-2xl.smd_text-xl(
          class="mmd_text-black mmd_text-3xl mmd_px-10 mmd_py-5"
          href="/"
        ) COOLWORTHS
    - let marginBtm = "mb-2", display="hidden"
    if(success === true)
      - marginBtm = "mb-0"
      - display = "block"
    header.w-screen(class=marginBtm)
      .bg-black.mmd_bg-white.py-3.px-3.smd_px-24.mmd_border-b 
        a.text-white.font-lato.font-black.text-2xl.smd_text-xl(
          class="mmd_text-black mmd_text-3xl mmd_px-10 mmd_py-5"
          href="/"
        ) COOLWORTHS
    .bg-green-500.mb-2.flex.justify-between.p-3(class=display) 
      p.font-black.text-white Item successfully deleted
      button#close-delete-success-btn.text-white.font-black
        svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
          path(stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12')
    block layout