extends item 

block content 
  - let path=`/clothing/item/create`;
  if(getItem && getItem.category)
    if(getItem.category.name)
      - path= `/clothing/item/${getItem._id}/edit`
  form(
    method="POST" action=`${path}`
    enctype="multipart/form-data"
  )
    .flex.flex-col.gap-2 
      each val, key in getItem 
        if key !== "_id" && key !== "__v"
            label.flex.flex-col.font-black.gap-2
              span.flex.flex-col Item #{key}
                if errors
                  each error in errors 
                    if error.param === key 
                      span.ml-2.text-sm.font-thin.text-red-400= error.msg

              if key === "category"
                select.font-normal.border.border-slate-300.p-2.w-80.bg-white(
                  name=key
                )
                  if(results.category_info)
                    each category in results.category_info 
                      option(
                        value=`${category.name}`
                        selected= category.name == getItem.category.name)= category.name 
                    else 
                      option No categories 
              else if key === "image"
                input.font-normal.border.border-slate-300.p-2.w-80(
                    type="file"
                    value=val
                    name=key
                    accept="image/*"
                  )
              else
                -var inputType = "number"
                if key !== "count" && key !== "price"
                  -inputType = "text"
                input.font-normal.border.border-slate-300.p-2.w-80(
                    type=inputType
                    value=val
                    name=key
                  )

      button.mb-3.text-white.font-black.bg-slate-700.py-4 Submit