extends item

block content
  p.font-black.text-xl.slg_text-4xl= results.name
  p.mt-1.text-xl.font-thin R #{results.price}.00
  p.font-black.text-sm.mt-4 Description
  p.text-sm.mt-1.text-slate-400= results.description
  p.font-black.text-sm.mt-3.text-slate-500 Items Available:
  p.text-sm.mt-1.text-slate-400= results.count
  p.font-black.text-sm.mt-3.text-slate-500 Product code:
  p.text-sm.mt-1.text-slate-400= results._id
  .grid.grid-cols-1.mt-5 
    button.mb-3.text-white.font-black.bg-slate-700.py-4
      a.inline-block.w-full.h-full(href="/clothing/item/" + results._id + "/edit") Edit
    button.mb-3.text-white.font-black.bg-red-400.py-4#delete-item-btn Delete
    form#delete-item-form.w-full.hidden(action="/clothing/item/delete" method="post")
      input.hidden(type=text value=results._id name="id")
      button.mb-10.text-white.font-black.bg-red-700.py-4.w-full Confirm Delete
  
  script.
    const deleteItemBtn = document.querySelector("#delete-item-btn");
    deleteItemBtn.addEventListener("click", function(){
      const deleteItemForm = document.querySelector("#delete-item-form");
      this.classList.add("hidden");
      deleteItemForm.classList.remove("hidden");
    });
