doctype html
html(lang='en')
  head
    if results.name === undefined
      title= results.getItem.name
    else 
      title= results.name 
      
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/output.css')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
  body
    header.fixed.w-screen
      .bg-black.mmd_bg-white.py-3.px-3.smd_px-24.mmd_border-b 
        a.text-white.font-lato.font-black.text-2xl.smd_text-xl(
          class="mmd_text-black mmd_text-3xl mmd_px-10 mmd_py-5"
          href="/"
        ) COOLWORTHS

    .w-screen.pt-20 
      if(results.category || (results.getItem && (results.getItem.category && results.getItem.category._id)))
        if results.category
          a.text-sm.font-black.pl-2.slg_pl-10(
            href="/clothing/category/" + results.category._id)  #{results.category.name}
        else
          a.text-sm.font-black.pl-2.slg_pl-10(
            href="/clothing/category/" + results.getItem.category._id)  #{results.getItem.category.name}
      .grid.grid-cols-1.slg_grid-cols-2.slg_px-10.slg_gap-10
        .w-full.mt-4
          .w-full.bg-slate-300.grid.place-items-center(
            class = "h-[90vh]"
          )
            if(results.image)
              img(
                src=`/images/${results.image}`
                alt=`${results.name} image`
              )
            else
              p.text-white.font-black No image available
        
        .flex.flex-col.mt-4.px-4.slg_justify-self-end.slg_mr-14(
          class="slg_w-4/5"
        )
          block content 